@import "normalize";

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  object-fit: contain;
}

%headerText {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  white-space: nowrap;
  @media (max-width: 768px) {
    font-size: 17px;
    white-space: pre-wrap;
  }
  @media (max-width: 320px) {
    font-size: 16px;
  }
}

%landingWidth {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 768px) {
    max-width: 768px;
  }
  @media (max-width: 320px) {
    max-width: 320px;
  }
}

%button {
  @extend %headerText;
  color: white;
  width: 195px;
  height: 40px;
  border: 1px solid #3BAD00;
  background: #3BAD00;
  border-radius: 20px;
  cursor: pointer;
}

button {
  &:focus, &:active {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

main {
  @extend %landingWidth;
}

.Buy__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #232323;
}

.Header {
  display: flex;
  flex-direction: column;

  &__mainInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      justify-content: flex-end;
    }
    @media (max-width: 320px) {
      justify-content: center;
    }
  }

  &__content {
    padding: 40px 0;
    width: 50%;
    @media (max-width: 768px) {
      width: 80%;
    }

    &:first-child {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      @media (max-width: 768px) {
        margin-right: 10px;
      }
      @media (max-width: 320px) {
        margin-right: 0;
      }
    }

    .question,
    .phone,
    .email {
      @extend %headerText;
      color: #232323;
    }

    .question {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media (max-width: 320px) {
      justify-content: center;
    }
  }

  &__buy-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    @media (max-width: 320px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__service {
    @media (max-width: 768px) {
      margin-left: 77px;
    }
    @media (max-width: 320px) {
      display: none;
    }

    .desc-service {
      @extend %headerText;
      color: #232323;
    }
  }
}

.List {
  padding: 40px 0;
  @media (max-width: 320px) {
    padding: 20px 0;
  }

  &__description {
    @media (max-width: 768px) {
      margin-left: 77px;
    }
    @media (max-width: 320px) {
      display: none;
    }

    .description {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 54px;
      text-align: center;
      color: #232323;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__cart {
    width: 280px;
    height: 323px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    cursor: pointer;

    &:hover {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }

    @media (max-width: 320px) {
      margin-right: 0;
      height: 250px;
      width: 270px;
    }
  }

  &__image-cart {
    padding: 30px 20px;
    @media (max-width: 320px) {
      padding: 0;
    }

    .image {
      background-size: contain;
      object-fit: contain;
    }
  }

  &__name-cart {
    text-align: center;
    padding: 0 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    button {
      @extend %button;
    }
  }
}

.Footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  background: #232323;
  height: 104px;
  @media (max-width: 320px) {
    height: auto;
  }

  &__wrapper {
    @extend %landingWidth;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @media (max-width: 320px) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    width: 50%;
    @media (max-width: 768px) {
      &:first-child {
        margin-left: 30px;
      }
      &:last-child {
        margin-right: 30px;
      }
    }
    @media (max-width: 320px) {
      padding: 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .requisites,
  .phone,
  .email {
    @extend %headerText;
    @media (max-width: 320px) {
      font-size: 13px;
    }
    color: white;
  }

  .phone,
  .email {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 320px) {
      justify-content: center;
    }
  }
}

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  pointer-events: none;
  margin: 0;
  padding: 0;

  &.modalHide {
    opacity: 0;
  }

  &.modalShow {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }

  &__dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }

  @media (min-width: 576px) {
    &__dialog {
      max-width: 500px;
      margin: 30px auto;
    }
  }

  &__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    box-shadow: 0 2px 4px #FFFFFF;
    border-radius: 10px;
    padding: 10px;
  }

  @media (min-width: 768px) {
    &__content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
  }

  &__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #232323;
  }

  &__body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
  }

  .CloseSvg {
    &:focus, &:hover {
      cursor: pointer;
    }
  }
}

.ProductDescription {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(2) {
      flex-direction: column;
      align-items: normal;
      padding: 20px;
    }

    .productName {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #232323;
    }

    .productMain__desc {
      width: 100%;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    button {
      @extend %button;
    }
  }
}
